
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        #loginArea {
            width: 460px;
            margin-top: 100px;
            margin-left: 50px;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div id="loginArea">
        <form class="form-horizontal" role="form" method="post" id="form1">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <select id="Name" class="form-control setting">
                        @foreach (var item in ViewBag.userList)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control required" name="Password" id="Password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-default" id="submitBtn" value="登陆" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label error">@ViewBag.loginError</label>
            </div>
        </form>
    </div>

    <script>
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                $("#submitBtn").trigger("click");
            }
        });

        $(function () {
            $("form").validate({
                rules: {
                    Name: { required: true },
                    Password: { required: true }
                },

                messages: {
                    Name: { required: "请输入姓名" },
                    Password: { required: "请输入密码" }
                }
            });

            $("#form1").submit(function () {
                if ($(this).valid()) {
                    var name = $("#Name option:selected").val();
                    var password = $("#Password").val();

                    var postData = {
                        Name: name,
                        Password: password
                    }
                    $.post("Login", postData, loginCallBack);
                    return false;
                }
            })
        })

        function loginCallBack(data) {
            window.location.href = data;
        }
    </script>
</body>
</html>
